* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 115rem;
  margin: auto;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;

  .logo {
    width: 11rem;
  }

  ul {
    display: flex;

    &.main-menu {
      flex: 1;
      margin-left: 2rem;
    }

    li {
      padding: 0 0.5rem;

      a {
        padding-bottom: 0 0.7rem;
      }

      a:hover {
        border-bottom: 2px solid #262626;
      }
    }
  }
  
}

/* SHOWCASE*/
.showcase {
  width: 100%;
  height: 35rem;
  background: url('./ms_img/img/slide1.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;

  h2,
  p {
    margin-bottom: 1rem;
  }
  .btn {
    margin-top: 1rem;
    background: #262626;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
  }

}

/* Home Cards*/
.home-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;
  margin-bottom: 2rem;

  img{
    width: 100%;
    margin-bottom: 1rem;
  }

  h3{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  a{
    display:inline-block;
    text-transform: uppercase;
    color:#0b80da;
    font-weight: bold;
    padding-top: 1rem;
  }
}

/* XBox */
.xbox{
  width: 100%;
  height: 350px;
  background: url('./ms_img/img/xbox.png') no-repeat center center/cover;
  margin-bottom: 2rem;

  .content {
    width: 40%;
    padding: 5rem 0 0 3rem;

    h2 {
      font-size: 2rem;
    }

    p {
      margin: 0.5rem 0 0.7rem;
      font-size: 0.8rem;
    }
  }
  .btn {
    margin-top: 1rem;
    background: #262626;
    color: white;
    padding: 1rem 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
  }
  
}

/* Carbon */
.carbon-dark{
  width: 100%;
  height: 350px;
  background: url('./ms_img/img/carbon.jpg') no-repeat center center/cover;
  margin-bottom: 2rem;

  .content {
    width: 40%;
    padding: 3.5rem 0 0 3rem;
    color: white;

    h2 {
      font-size: 1.7rem;
    }

    p {
      margin: 0.5rem 0 0.7rem;
      font-size: 0.7rem;
    }
  }

  .btn {
    margin-top: 0.8rem;
    background: #262626;
    color: white;
    padding: 1rem 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
  }
}

/* Follow */
.follow{
  width: 100%;
  height: 350px;
  margin-bottom: 2rem;

  p {
      margin: 0.5rem 0 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
}

/* Links*/
.links{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-bottom: 1rem;

  ul{
    width: 100%;
    margin-bottom: 1rem;
  }

  li{
    
  }

  h3{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }


  a{
    display:inline-block;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    padding-top: 1rem;
  }
}

@media(max-width:750px){
  .btn{
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
  }
  .home-cards{
    grid-template-columns: repeat(2,1fr);
}
  .xbox{
    .content {
      width: 40%;
      padding: 2.5rem 0 0 2rem;

      p{
        display: none;
      }
      h2{
        margin-bottom: 2rem;
      }
    }

  }
}

@media(max-width:500px){
  .btn{
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
  }

  .home-cards{
    grid-template-columns: 1fr;
  }

  .xbox{
    .content{
      width: 45%;
      padding: 2rem 0 0 2rem ;
      h2{
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}